body {
  background-color: #c9b5ab;
}

h1, h2{
  font-size: 1.5rem;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

figcaption {
  font-size: 1.125;
  font-style: italic;
  text-align: center;
}

nav {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
}
