body {
  background-color: #c9b5ab;
}

h1, h2{
  font-size: 1.5rem;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

nav {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;

figcaption {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
}

blockquote {
  text-align: center;
  font-size: 1.5rem
}
